.header {
    height: 12vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.header-nav__list {
    display: flex;
    justify-content: center;
}
.header-nav__item {
    list-style: none;
}
.header-nav__item-link {
    color: white;
    font-size: 15px;
    padding: 5px 0px;
    margin: 15px;
    text-decoration: none;
}
.header-nav__item-link:hover {
    border-bottom: 1.5px solid white;
}
.header__mobile-menu {
    display: none;
}
@media (max-width: 430px) {
    .header {
        height: 25vh;
        background-color: rgb(55,55,55);
        flex-direction: column;
        position: unset;
    }
    .header-nav__list {
        display: none;
    }
    .header__mobile-menu {
        display: unset;
        width: 22px;
        margin-left: 75vw;
    }
}